table {
  border-collapse: collapse;
  font-size: 0.9rem;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

thead {
  background-color: #2dba3b;
  color: white;
  text-align: center;
}
tbody {
  text-align: center;
}
th,
td {
  padding: 12px 15px;
}
tbody tr {
  border-bottom: #2dba3b50 1px solid;
}
tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
tbody tr:last-of-type {
  border-bottom: #2dba3b 2px solid;
}
/* tbody tr:hover {
  background-color: #00000070;
  transform: translateX(-100px);
} */

.doctor div {
  width: auto;
  flex-grow: 1;
}

.issue {
  background-color: rgb(43, 226, 113);
  color: black;
  outline: none;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
